.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#login{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 390px;
    height: 350px;
    border: solid;
}

#username, #password{
    display: flex;
    align-self: center;
    width: 260px;
    margin-bottom: 10px;
}

#btn_continuar{
    display: flex;
    align-self: flex-end;
    margin-top: 10px;
    margin-right: 60px;
    width: 90px;
}

#home{
    display: none;
}